main {
	margin: 0.5em;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.navbar img {
    height: 1.5em;
    margin-right: 0.5em;

}
.alert {
   width: auto;
   text-align: center;
}
