main {
	margin: 0.5em;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.navbar img {
    height: 1.5em;
    margin-right: 0.5em;
}
.alert {
   width: auto;
   text-align: center;
}
.codecol{
	width: 75%;
	overflow-x: visible;
  padding-left: 10px;
}
.precode{
  background-color: #eef;
  border-radius: 10px;
  border: 1px solid #ddd; 
}
.numcol{
  width: 2em;
  text-align: right;
}
.num_code{
  border: 1px solid #ddd; 
  padding: 0px;
  margin: 0px;
}
.prenum{
  overflow: hidden;
}
.right-tabs .nav{
	float: right;
}
.right-tabs .tab-content {
    float: left;
    border-top: 1px solid #ddd;
    margin-top: -1px;
    width: 100%;
}
.container{
	max-width: 100% !important;
}
.snippet_overview{
  min-height: 70px;
  padding: 4px;
  border-bottom: 1px solid #ddd; 
  border-left: 1px solid #ddd; 
  border-right: 1px solid #ddd; 
  padding-bottom: 6px;
  background-color: #FAFAFA;
}
.snippet_overview .title{
  font-size: 26px;
  width: 80%;
  display: inline-block;
}
.snippet_overview .author{
  display: inline-block;
  float: right;
  margin-right: 10px;
}
.snippet_overview .date{
  display: inline-block;
  float: right;
  margin-right: 10px;
  
}
.snippet_overview .btn{
  margin-right: 0px;
}

.snippet_overview .tags{
  display: inline-block;

}
.snippet_overview .tags .btn{
  margin-right: 5px;
  margin-bottom: 0;
}
textarea{
  resize: both;
}
