main {
	margin: 0.5em;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.navbar img {
    height: 1.5em;
    margin-right: 0.5em;
}
.alert {
   width: auto;
   text-align: center;
}
.codecol{
	width: 80%;
	overflow-x: visible;
}
.right-tabs .nav{
	float: right;
}
.right-tabs .tab-content {
    float: left;
    border-top: 1px solid #ddd;
    margin-top: -1px;
    width: 100%;
}
.container{
	max-width: 100% !important;
}