ERROR_LEVEL = "DEBUG"

SITE_LIST = "header, footer, dashboard, upload, dreview, 404, login, logout, u_settings"
SITE_NAME_header = ""
SITE_NAME_footer = ""
SITE_NAME_dashboard = "Dashboard"
SITE_NAME_upload = "Upload"
SITE_NAME_review = "Review"
SITE_NAME_404 = "404-Error"
SITE_NAME_login = "Login"
SITE_NAME_logout = "Logout"
SITE_NAME_dreview = "Snippets"
SITE_NAME_u_settings = "Einstellungen"

UPLOAD_DIR = "data/snippets"
LOG_LOCATION = "data/shithub.log"

DB_HOST = "127.0.0.1"
DB_NAME = "shithub"
DB_UNAME = "shithub"
DB_PW = "test"
